src/java/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="idega:trade" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="idega:trade" xmlns:intf="idega:trade" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="invalidateProductCacheResponse">

      <wsdl:part name="invalidateProductCacheReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="invalidatePriceCacheResponse">

      <wsdl:part name="invalidatePriceCacheReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="clearProductCacheResponse">

      <wsdl:part name="clearProductCacheReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="invalidateProductCacheRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="clearAddressMapsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="invalidatePriceCacheRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="clearProductCacheRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="clearAddressMapsResponse">

      <wsdl:part name="clearAddressMapsReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="TradeService">

      <wsdl:operation name="invalidateProductCache" parameterOrder="in0 in1">

         <wsdl:input message="impl:invalidateProductCacheRequest" name="invalidateProductCacheRequest"/>

         <wsdl:output message="impl:invalidateProductCacheResponse" name="invalidateProductCacheResponse"/>

      </wsdl:operation>

      <wsdl:operation name="clearAddressMaps" parameterOrder="in0 in1">

         <wsdl:input message="impl:clearAddressMapsRequest" name="clearAddressMapsRequest"/>

         <wsdl:output message="impl:clearAddressMapsResponse" name="clearAddressMapsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="clearProductCache" parameterOrder="in0 in1">

         <wsdl:input message="impl:clearProductCacheRequest" name="clearProductCacheRequest"/>

         <wsdl:output message="impl:clearProductCacheResponse" name="clearProductCacheResponse"/>

      </wsdl:operation>

      <wsdl:operation name="invalidatePriceCache" parameterOrder="in0 in1">

         <wsdl:input message="impl:invalidatePriceCacheRequest" name="invalidatePriceCacheRequest"/>

         <wsdl:output message="impl:invalidatePriceCacheResponse" name="invalidatePriceCacheResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TradeServiceSoapBinding" type="impl:TradeService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="invalidateProductCache">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="invalidateProductCacheRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="invalidateProductCacheResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clearAddressMaps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearAddressMapsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearAddressMapsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clearProductCache">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clearProductCacheRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="clearProductCacheResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="invalidatePriceCache">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="invalidatePriceCacheRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="invalidatePriceCacheResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="idega:trade" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TradeServiceService">

      <wsdl:port binding="impl:TradeServiceSoapBinding" name="TradeService">

         <wsdlsoap:address location="http://www.idega.is/service/TradeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
